<section class="testimonials-container">
   <h2 class="heading">Valuable <span>Testimonials</span></h2>
   <div class="testimonial-wrapper">
       <div class="testimonial-box">
           <div class="testimonial-content">
               <div class="testimonial-slide">
                   <img src="../../../assets/apples-1776744_640.jpg" alt="barns">
                   <h3>Gbagba Joseph Junior</h3>
                   <p>thank you barns for your awesome services and always delivering your 
                       services before duew dates i will continue to refer you always</p>
               </div>
           </div>
       </div>
   </div>
</section>