
<section class="services">
    <h1>MY <span>SERVICES</span></h1>

    <div class="service-container">
         <div class="two">
            <div class="service-box service-1">
               <span> <i class="fa fa-youtube-play" aria-hidden="true"></i></span>
                <h3>Web developer</h3>
                <p>I'm Gbagba Joseph Junior a frontend developer with extensive 
                    three years experience in web development with Angular framework, i'll be glad to work with you</p>
                <a routerLink="/projects" class="botton">read more</a>
            </div>
            <div class="service-box service-2">
               <span> <i class="fa fa-desktop" aria-hidden="true"></i></span>
                <h3>Web designer</h3>
                <p>I'm Gbagba Joseph Junior, a frontend web designer with extensive 
                    three years experience in web design creating beautiful and visual appealing websites, i'll be glad to work with you</p>
                <a routerLink="/projects" class="botton">read more</a>
            </div>
        
         </div>
    </div>


    
</section>