<section class="about">
    <div class="about-image">
        <img src="../../../assets/IMG_20220828_132543_578.jpg" alt="">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Hi I'm here to help you implement your next project</h3>
       <p>
            Over the years I've been skilled at building highly responsive web
            applications that exceed clients expectations  working majorly as a freelancer and taking a few projects from clients individually,
            among one of my projects is this beautiful portfolio website you are navigating
             and its my desire to be of great value to your
            organization as i get unboarded, thanks for your anticipated responsive
        </p>
        <div><a routerLink="/projects" class="btn">Read more</a></div>
    </div>
</section>