<div class="resume">
    <div class="heading">
        <h1>DOOGA MOUGH BARNABAS</h1>
        <h3>frontend developer</h3>
        <address>Makurdi, Benue State. Nigeria</address>
        <p class="email"> Email: barnsdooga@gmail.com phone: (+234)916-295-5206, (+234)915-402-7508</p>
        <h4>github: <a href="https://github.com/BarnsDoogaM?tab=repositories">https://github.com/BarnsDoogaM?tab=repositories</a>
            <br> linkedin: <a href="https://www.linkedin.com/in/mough-dooga-20bb4222a">https://www.linkedin.com/in/mough-dooga-20bb4222a</a>
        </h4>
    </div>
    
  <div class="seperate">
    <div class="summary-container">
        <h2>SUMMARY</h2>
        <P class="summary">
            I'm a very resourceful professional with successful track record in developing
            innovative web designs and features. Possesses solid knowledge of HTML, CSS, SASS,
            JAVASCRIPT, GIT, BOOTSTRAP AND ANGULAR. with ability to quickly learn new technologies,
            I have demonstrated success in identifying and resolving complex code issues. Bringing 
            2 years of experience collaborating in web development design projects, including gathering
            user requirements, producing code, creating mockups and enhancing designs. Focused on creating 
            clean, robust code with exceptional security. Achieving compatibility targets while meeting and
            exceeding customer demands. It will be a pleasure to be part of your organization to contribute
            more to achieving goals.
        </P>
   </div>
    <div class="skills">
        <h2>SKILLS</h2>
        <ul>
            <li>
                Frontend web developement: HTML, CSS, SASS, JAVASCRIPT, BOOTSTRAP
            </li>
            <li>
                Database: git and github
            </li>
            <li>
               Soft Skills: Verbal and written communication, enterprise and design thinking, leadership and team cordination etc
            </li>
        </ul>
    </div>

    <div class="experience">
        <h5>EXPERIENCE: <br> Web Developer <span>December 19, 2019–February 2022 Full Time</span></h5>
        <ul>
            <li>
                Developed dynamic websites, taking full ownership of the front-end development process, utilizing JavaScript, and
                ANGULAR etc. This comprehensive approach resulted in the creation of robust and feature-rich websites that met clients' specific
                requirements.
            </li>
            <li>
                Significantly improved user experience and successfully achieved webpage objectives by meticulously crafting site structure,
                implementing intuitive navigation systems, optimizing page loading speed, and seamlessly integrating graphics. These enhancements
                led to a 30% increase in user engagement and a 25% decrease in bounce rates.
            </li>
            <li>
                Implemented various enhancements to elevate web functionality and enhance responsiveness, resulting in a 40% improvement in
                overall website performance and a 20% increase in user satisfaction. These optimizations included efficient data handling, streamlined
                workflows, and cross-browser compatibility.
            </li>
            <li>
                Demonstrated expertise in designing and maintaining both corporate and client websites by proficiently utilizing scripting languages
                and content management systems, such as WordPress. This comprehensive approach ensured seamless website management, timely
                updates, and improved content accessibility.
            </li>
        </ul>
    </div>
    <div class="projects">
        <h1>PROJECTS</h1>
        <div class="first">
            <h3>JANUARY 2023</h3>
            <p>Demostrating the usage of NGRX in a bread firm designed with
                 bootstrap with excellent interactivity</p>
        </div>
        <div class="first">
            <h3>march 2023</h3>
            <p>Demostrating the usage of REACTIVE FORMS in a burger firm designed with
                bootstrap</p>
        </div>
        <div class="first">
            <h3>May 2023</h3>
            <p>Demostrating the usage of RXJS in a rice firm designed with
                bootstrap</p>
        </div>
        <div class="first">
            <h3>june 2023</h3>
            <p>Demostrating the usage of FORMS CRUD, apple suppliers firm store designed with
                bootstrap</p>
        </div>
        <a routerLink="/projects" class="btn">
            Visit Porfolio
        </a>
    </div>

    <div class="eduction">
        <h1>EDUCATION</h1>
        <div>
            <h3>January 2019 - August 2021</h3>
            <p>UDEMY, PLURASIGHT, AQSKILL <br> <span>Wed Developement</span></p>
        </div>
        <div>
            <h3>June 2014 - July 2019</h3>
            <p>FEDERAL UNIVERSITY OF AGRICULTURE MAKURDI BENUE STATE. NIGERIA
            <br> <span>Bsc. Business Administration, second class honours upper division</span></p>
        </div>
        
        <div>
            <h3>
                Septemper 2008 - June 2014
            </h3>
            <P>
                MBAGBA-NANEV COMMUNITY SECONDARY SCHOOL, ADIKPO. BENUE STATE NIGERIA <br>
                <span>National Examination CouncilNECO</span>
            </P>
        </div>

        <div>
        <h3>    Septemper 2001 - Septemper 2007</h3>
        <p>NKST PRIMARY SCHOOL IFAN <br>first school leaving certificate</p>

        </div>
    </div>
    
  </div>
    
</div>