<!-- <section class="table">
    <div class="search">
        <input type="text" placeholder="Search..."><span>|</span><i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="table">
        
        <h1>data retrived from the backend transformed and displayed on the web page using Rxjs</h1>
        <select class="select">
            <option>select post by category</option>
            <option>dooga</option>
            <option>paul</option>
        </select>
        <div >
            
            <table *ngIf="category$ | async as categories">
                <thead>
                    <th>Title</th>
                    <th>price</th>
                    <th> techStack</th>
                    <th>categoryId</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories"> 
                       
                        <td>{{category.title}}</td>
                        <td>{{category.price | currency: 'USD'}}</td>
                        <td>{{category.techStack}}</td>
                        <td>{{category.categoryName}}</td>
                        <td>{{category.description}}</td>
                    </tr>
                </tbody>
            </table> -->