<section class="projects">
    <h1>MY PROJECTS</h1>
    <!-- <h2>WEB DESIGN</h2> -->
    <div class="class"></div>
    <h2>WEB DEVELOPMEMT</h2>
   <div class="projects-container">
    
    <div class="project-1">
        <img src="../../../assets/rice.jpg" alt="rice store link">
        <div class="layer rice" >
          <a href="www.github.com/BarnsDoogaM" class="botton">Rice(RXJS)</a>
        </div>
    </div>
    <div class="project-1">
        <img src="../../../assets/bread-534574_640.jpg" alt="bread store link">

       <div class="layer bread">
        <a href="www.github.com/BarnsDoogaM" class="botton">Bread(NGRX)</a>
       </div>
    </div>
    <div class="project-1">
        <img src="../../../assets/burger-1553287_640.jpg" alt="burger link">
        <div class="layer">
        <a href="www.github.com/BarnsDoogaM" class="botton">Burger(REATIVE FORMS)</a>
        </div>
    </div>
    <div class="project-1">
        <img src="../../../assets/apples-1776744_640.jpg" alt="apples link">
       <div class="layer">
        <!-- <h3>Apple</h3> -->
        <a href="www.github.com/BarnsDoogaM" class="botton">Apple(FORMS WITH CRUD)</a>
       </div>
    </div>
    <div class="project-1">
        <img src="../../../assets/computer.jpg" alt="portfolio link">
       <div class="layer">
        <!-- <h3>Apple</h3> -->
        <a href="www.github.com/BarnsDoogaM" class="botton">portfolio website</a>
       </div>
    </div>
   </div>

</section>