section{
min-height: 100vh;
padding: 8rem 7% 2rem;
}

.home{
display: flex;
align-items: center;
}

.home .home-content{
max-width: 44rem;
}

.home-content h3{
font-size: 3.2rem;
line-height: .3;
font-weight: 700;
padding: 1rem 0;
}
.home-content h1{
font-size: 4rem;
font-weight: 700;
margin-bottom: .3rem;
}
.home-content p{
font-size: 2rem;
}

.home-content .social-media a{
font-size: 1.6rem;
display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem; 
height: 4rem; 
background-color: transparent;
border: .2rem solid var(--main-color);
border-radius: 50%;
box-shadow: 0 2rem 3rem var(--shadow-color);
/* font-size: 2.5rem; */
color: var(--main-color);
margin: 2.5rem 1.5rem 3rem 0rem;
transition: .5s ease;
}

.home-content .social-media a:hover{
background-color: var(--main-color);
color: var(--white-color);
}


.btn{
margin-left: 2rem;
}

.btn-resume{
margin-left: 1rem;
}

.home .profession-container{
position: absolute;
top: 50%;
right: 0;
width: 647px;
height: 647px;
transform: translateY(-50%);
overflow: hidden;
pointer-events: none;
}


.home .profession-container .profession-box{
position: absolute;
top: 0;
right: 0;
width: 647px;
height: 647px;
border-radius: 50%;
display: flex; 
align-items: center;
color: var(--white-color);
justify-content: center;
}

.home .profession-box .profession{
position: absolute;
display: flex;
align-items: center;
flex-direction: column;
transform: rotate(calc(360deg / 4 * var(--i)));
transform-origin: 295px;
left: 0;
background: var(--bg-color);
padding: 10px 0;
}

.home .profession-box .profession:nth-child(1) i{
margin-left: 15px;
}
.home .profession-box .profession:nth-child(2) i{
margin-left: 60px;
}
.home .profession-box .profession:nth-child(3) i{
margin-left: 70px;
}
.home .profession-box .profession:nth-child(4) i{
margin-left: 70px;
}
.home .profession-box .profession:nth-child(3) h3{
margin-left: 40px;
}
.home .profession-box .profession:nth-child(4) h3{
margin-left: 70px;
}

.home .profession-box .profession i{
font-size: 3.8rem;
color: green;
}
.home .profession-box .profession h3{
color: var(--main-color);
font-size: 3.2rem;
line-height: 1;
font-weight: 600;
}

.home .profession-box .circle{
height: 360px;
width: 360px;
/* background-color: rgb(34, 32, 32); */
border: 3px solid var(--main-color);
border-radius: 50%;
}

.home .profession-container .overlay{
position: absolute;
top: 0;
right: 0;
height: 0;
width: 0;
border-top: 323.5px solid var(--main-color);
border-right: 323.5px solid var(--main-color);
border-bottom: 323.5px solid var(--main-color);;
border-left: 323.5px solid transparent;
}

.home .home-image img{
position: absolute;
bottom: 0;
right: 0;
width: 30rem;
height: 30rem;
border-radius: 50%;
pointer-events: none;
border: 10px solid var(--white-color);
}



.table{
background-color: rgb(250, 239, 239);
color: var(--color-black);
text-transform: capitalize;
text-align: center;
min-height: 20rem; 
}

.search{
width: 30%;
height: 3rem;
background-color: white;
border-radius: 16px;
outline: 1px solid black;
display: flex;
margin: 0 auto;
align-items: center;
overflow: hidden;
margin-bottom: 2rem;
}
.select{
width: 30%;
height: 3rem;
background-color: white;
outline: 1px solid black;
margin-bottom: 2rem;  
/* margin-right: 70rem; */
}

.search input{
width: 90%;
height: 3rem;
outline: none;
padding-left: 2rem;
padding-right: 2rem;

}

.search i{
font-size: 1.5rem;
/* margin-top: 73rem; */
}
.search span{
font-size: 2.5rem;
margin-right: .5rem;
}
.table h1{
margin-bottom: 2rem;

}
table{
border-collapse: collapse;
width: 100%;
font-size: 1.6rem;
}

th, td{
border: 1px solid black;
padding: 0rem;
}


@media screen and (min-width: 20em){

.table{
background-color: rgb(250, 239, 239);
color: var(--color-black);
text-transform: capitalize;
text-align: center;
min-height: 20rem; 
width: 100%;
margin-top: 17rem;
}

table{
border-collapse: collapse;
width: 100%;
font-size: 1rem;

}


.problem{
width: 100%;
margin: 0;

} 

.tabled{
width: 100%;
}










.home .profession-container{
visibility: hidden;
}
.btn{
margin-left: 0rem;
padding: 1rem;
font-size: 1.6rem;
}
.footer{
margin-top: 0rem;
}

.btn-resume{
margin-left: 1rem;
}

.flex{
display: inline-flex;
}

.home{
position: relative;
}

.home .home-image img{
position: absolute;
top: 50rem;
right: 0;
width: 100%;
height: 30rem;
border-radius: 0%;

}

.home .home-content{
margin-top: 0rem; 
}
}
@media screen and (min-width: 30em){

.home .home-image img{
position: absolute;
top: 44rem;
right: 0;
width: 100%;
height: 36rem;
border-radius: 0%;

}
}

@media screen and (min-width: 48em){
.home .home-image img{
position: absolute;
top: 44rem;
right: 0;
width: 100%;
height: 55rem;
border-radius: 0%;

}
}

@media screen and (min-width: 64em){

.home-content{
margin-top: 4rem;
} 
.footer{
margin-top: 1rem;
}
.home .home-image img{
position: absolute;
top: 13rem;
right: 6rem;
width: 30%;
height: 30rem;
border-radius: 0%;
outline: 13px solid var(--main-color);
padding: 2rem;
}

}

@media screen and (min-width: 75em){
.home .profession-container{
visibility: visible;
}

.home .home-image img{
position: absolute;
top: 27rem;
bottom: 0;
object-fit: cover;
right: 0;
width: 30rem;
height: 30rem;
border-radius: 50%;
pointer-events: none;
outline: none;
padding: 0;
border: 13px solid var(--white-color);
}



.footer{
margin-top: 0rem;
}

table{
border-collapse: collapse;
width: 100%;
font-size: 1.6rem;
padding: 2rem;

}

.table{

margin-top: 0rem;
}

}